<div class="navbar-container">
  <nav class="navbar navbar-expand-lg navbar-light" data-sticky="top">
    <div class="container">
      <a class="navbar-brand navbar-brand-dynamic-color fade-page" href="/home">
        <img
          alt="FlowLyf"
          src="assets/flow-new-img-2/40 x 40-2/1.png"
          style="height: 40px;"
        />
      </a>
      <div class="d-flex align-items-center order-lg-3">
        <!-- <a href="https://rebrand.ly/header01"
                    class="btn btn-primary ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3">Upgrade
                    Now</a> -->
        <a
          [routerLink]="['/cart']"
          class="btn btn-primary ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3"
          >Upgrade Now</a
        >
        <button
          style="outline: none;"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-target=".navbar-collapse"
          data-toggle="collapse"
          type="button"
        >
          <img
            alt="Navbar Toggler Open Icon"
            class="navbar-toggler-open icon icon-sm"
            data-inject-svg
            src="assets/img/icons/interface/icon-menu.svg"
          />
          <img
            alt="Navbar Toggler Close Icon"
            class="navbar-toggler-close icon icon-sm"
            data-inject-svg
            src="assets/img/icons/interface/icon-x.svg"
          />
        </button>
      </div>
      <div
        class="collapse navbar-collapse order-3 order-lg-2 justify-content-center"
        id="navigation-menu"
      >
        <ul class="navbar-nav my-3 my-lg-0">
          <li class="nav-item" style="margin: 0px 10px;">
            <a class="nav-link nav-item" href="/" role="button">Home</a>
          </li>

          <li class="nav-item" style="margin: 0px 10px;">
            <div class="dropdown">
              <a
                aria-expanded="false"
                aria-haspopup="true"
                class="dropdown-toggle nav-link nav-item arrow-bottom"
                data-toggle="dropdown-grid"
                role="button"
                href="#"
                >Product</a
              >
              <div class="row dropdown-menu">
                <div class="col-auto" data-dropdown-content>
                  <div class="dropdown-grid-menu">
                    <a href="/flowdesk" class="dropdown-item fade-page"
                      >FlowDesk</a
                    >
                    <a href="/flowdeskgo" class="dropdown-item fade-page"
                      >FlowDesk Go</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item" style="margin: 0px 10px;">
            <a class="nav-link nav-item" href="pricing-plan" role="button"
              >Price Plan</a
            >
          </li>
          <li class="nav-item" style="margin: 0px 10px;">
            <div class="dropdown">
              <a
                aria-expanded="false"
                aria-haspopup="true"
                class="dropdown-toggle nav-link nav-item arrow-bottom"
                data-toggle="dropdown-grid"
                role="button"
                href="#"
                >Explore</a
              >
              <div class="row dropdown-menu">
                <div class="col-auto" data-dropdown-content>
                  <div class="dropdown-grid-menu">
                    <a href="contact" class="dropdown-item fade-page"
                      >Contact Us</a
                    >
                    <a href="about-us" class="dropdown-item fade-page"
                      >About Us</a
                    >
                    <a href="faq" class="dropdown-item fade-page">FAQ</a>
                    <a href="blogs" class="dropdown-item fade-page">Blogs</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- <li class="nav-item" style="margin: 0px 10px;" *ngIf="!isLoggedIn">
                        <a class="nav-link nav-item" href="auth" role="button">Sign In</a>
                    </li>
                    <li class="nav-item" style="margin: 0px 10px;" *ngIf="isLoggedIn">
                        <div class="dropdown">
                            <a aria-expanded="false" aria-haspopup="true"
                                class="dropdown-toggle nav-link nav-item arrow-bottom" data-toggle="dropdown-grid"
                                role="button" href="#">Account</a>
                            <div class="row dropdown-menu">
                                <div class="col-auto" data-dropdown-content>
                                    <div class="dropdown-grid-menu">
                                        <a href="account/orders" class="dropdown-item fade-page">Orders</a>
                                        <a href="account/profile" class="dropdown-item fade-page">Profile</a>
                                        <a href="" (click)="logout()" class="dropdown-item fade-page">Sign Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li> -->
          <li class="nav-item" style="margin: 0px 10px;">
            <a
              class="nav-link nav-item pointer"
              role="button"
              (click)="scheduleCall()"
              >Schedule a Call</a
            >
          </li>
          <li class="nav-item" style="margin: 0px 10px;">
            <a
              class="nav-link nav-item nav-item-cart"
              role="button"
              (click)="openCartNav()"
            >
              <img
                class="icon bg-primary"
                src="assets/img/icons/interface/icon-shopping-cart.svg"
                alt="Icon"
                data-inject-svg
              />
              <span class="count">{{ cartItems }}</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
