.nav-link {
    cursor: pointer;
    .count {
        // border: 1px solid #832f83;
        border-radius: 50%;
        width: 18px;
        display: flex;
        font-size: 12px;
        justify-content: center;
        line-height: 16px;
        // color: #832f83;
        top: -30px;
        position: relative;
        left: 34px;
    }
}
.nav-item-cart {
    height: 0;
}

.container {
    max-width: 90% !important;
}

@media (max-width: 1420px) {
    .navbar-nav > .nav-item {
        font-size: 1rem;
    }
}

@media (max-width: 1300px) {
    .container {
        max-width: 100% !important;
    }
}