p.p1 {
    margin: 0px 0px 0px 0px;
    text-align: justify;
    font: 11.5px Arial;
    color: #000000;
}

p.p2 {
    margin: 0px 0px 0px 0px;
    text-align: justify;
    font: 10.5px Arial;
    color: #000000;
}

p.p3 {
    margin: 18.8px 0px 7.5px 0px;
    text-align: justify;
    font: 11.5px Arial;
    color: #000000;
}

p.p4 {
    margin: 0px 0px 0px 0px;
    text-align: justify;
    font: 11.5px Arial;
    color: #000000;
    min-height: 12px;
}

p.p5 {
    margin: 0px 0px 7.5px 0px;
    text-align: justify;
    font: 11.5px Arial;
    color: #000000;
}

p.p6 {
    margin: 0px 0px 0px 36px;
    text-align: justify;
    font: 11.5px Arial;
    color: #000000;
}

p.p7 {
    margin: 18.8px 0px 7.5px 0px;
    text-align: justify;
    font: 11.5px Arial;
    color: #000000;
    min-height: 12px;
}

span.Apple-tab-span {
    white-space: pre;
}
