<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <article class="article">
                    <h3 class="h2">{{article?.introduction}}</h3>
                    <span *ngFor="let section of article?.sections">
                        <h5 class="mt-5" *ngIf="section.title">{{section.title}}</h5>
                        <figure>
                            <img *ngIf="section.image" src="{{section.image}}" alt="{{section.alt}}"
                                class="img-fluid rounded">
                            <figcaption *ngIf="section.imageCaption">{{section.imageCaption}}</figcaption>
                        </figure>
                        <p [innerHTML]="section.desc | safeHtmlPipe"></p>
                    </span>
                </article>
            </div>
        </div>
    </div>
</section>
<app-blogs-subs></app-blogs-subs>
