<div class="row justify-content-end  bg-white">
  <div class="col-md-4 col-6 py-3 py-md-4 border-bottom">
    <div class="d-flex flex-column align-items-center text-center">
      <img
        src="assets/Flow-dsk-compare/6.png"
        alt="Image"
        class="img-fluid rounded mb-4"
      />
      <a href="#" class="btn btn-outline-primary btn-block">
        <span>FlowdeskGo</span>
      </a>
    </div>
  </div>
  <div class="col-md-4 col-6 py-3 py-md-4 border-bottom">
    <div class="d-flex flex-column align-items-center text-center">
      <img
        src="assets/Flow-dsk-compare/7.png"
        alt="Image"
        class="img-fluid rounded mb-4"
      />
      <a href="#" class="btn btn-primary btn-block">
        <span>Flowdesk</span>
      </a>
    </div>
  </div>
</div>

<div class="mt-5">
  <div class="pricing-table-section text-center text-lg-left">
    <div class="border rounded">
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-lg-4  py-3 py-md-4">
          <div
            class="d-flex align-items-center justify-content-center justify-content-lg-start"
          >
            <h6 class="mb-0 ml-lg-4">Surface type</h6>
          </div>
        </div>

        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>Engineered Wood </span>
        </div>
        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>Solid Pine wood </span>
        </div>
      </div>
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-lg-4  py-3 py-md-4">
          <div
            class="d-flex align-items-center justify-content-center justify-content-lg-start"
          >
            <h6 class="mb-0 ml-lg-4">No of motors</h6>
          </div>
        </div>

        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>Dual</span>
        </div>
        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>Dual</span>
        </div>
      </div>
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-lg-4  py-3 py-md-4">
          <div
            class="d-flex align-items-center justify-content-center justify-content-lg-start"
          >
            <h6 class="mb-0 ml-lg-4">Weight Capacity </h6>
          </div>
        </div>

        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>120kg</span>
        </div>
        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>120kg</span>
        </div>
      </div>
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-lg-4  py-3 py-md-4">
          <div
            class="d-flex align-items-center justify-content-center justify-content-lg-start"
          >
            <h6 class="mb-0 ml-lg-4">Memory Slots</h6>
          </div>
        </div>

        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>74-122 cm</span>
        </div>
        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>74-122 cm</span>
        </div>
      </div>
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-lg-4  py-3 py-md-4">
          <div
            class="d-flex align-items-center justify-content-center justify-content-lg-start"
          >
            <h6 class="mb-0 ml-lg-4">Powder Coating </h6>
          </div>
        </div>

        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>Yes</span>
        </div>
        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>Yes</span>
        </div>
      </div>
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-lg-4  py-3 py-md-4">
          <div
            class="d-flex align-items-center justify-content-center justify-content-lg-start"
          >
            <h6 class="mb-0 ml-lg-4">Coloum Stages</h6>
          </div>
        </div>

        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>2</span>
        </div>
        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>2</span>
        </div>
      </div>
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-lg-4  py-3 py-md-4">
          <div
            class="d-flex align-items-center justify-content-center justify-content-lg-start"
          >
            <h6 class="mb-0 ml-lg-4">Wireless Charger </h6>
          </div>
        </div>

        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>No</span>
        </div>
        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>Yes</span>
        </div>
      </div>
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-lg-4  py-3 py-md-4">
          <div
            class="d-flex align-items-center justify-content-center justify-content-lg-start"
          >
            <h6 class="mb-0 ml-lg-4">Cable Tray</h6>
          </div>
        </div>

        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>Optional</span>
        </div>
        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>Yes</span>
        </div>
      </div>
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-lg-4  py-3 py-md-4">
          <div
            class="d-flex align-items-center justify-content-center justify-content-lg-start"
          >
            <h6 class="mb-0 ml-lg-4">Pen Tray</h6>
          </div>
        </div>

        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>No</span>
        </div>
        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>Yes</span>
        </div>
      </div>
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-lg-4  py-3 py-md-4">
          <div
            class="d-flex align-items-center justify-content-center justify-content-lg-start"
          >
            <h6 class="mb-0 ml-lg-4">Beverage Holder </h6>
          </div>
        </div>

        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>No</span>
        </div>
        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>Yes</span>
        </div>
      </div>
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-lg-4  py-3 py-md-4">
          <div
            class="d-flex align-items-center justify-content-center justify-content-lg-start"
          >
            <h6 class="mb-0 ml-lg-4">iPad and iPhone Stand</h6>
          </div>
        </div>

        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>No</span>
        </div>
        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>Yes</span>
        </div>
      </div>
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-lg-4  py-3 py-md-4">
          <div
            class="d-flex align-items-center justify-content-center justify-content-lg-start"
          >
            <h6 class="mb-0 ml-lg-4">Mag Snap</h6>
          </div>
        </div>

        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>Yes</span>
        </div>
        <div class="col-6 col-lg-4 d-flex justify-content-center py-3 py-md-4">
          <span>No</span>
        </div>
      </div>
    </div>
  </div>
</div>
