p.p1 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    text-align: justify;
    font: 18.0px Times
}

p.p2 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    text-align: justify;
    font: 18.0px Times;
    min-height: 23.0px
}

p.p3 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    text-align: justify;
    font: 12.0px Times
}

p.p4 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    text-align: justify;
    font: 12.0px Times;
    min-height: 14.0px
}