.w-background-video {
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    object-fit: cover;
    z-index: -100;
}

.background-video {
    height: 75vh;
    min-height: 600px;
}

@media screen and (max-width: 767px) {
    .background-video {
        height: auto;
        min-height: 300px;
    }
}

  .flow-go-text{
    align-self: center;
    .flow-go-text-header {
      display: grid;
      grid-template-columns: auto auto;
      .fld-text{
        justify-self: flex-end;
        h2{
          margin-bottom: 0;
        }
      }
      .go-text {
        margin: 10px;
        font-size: 60px;
        justify-self: flex-start;
        @media screen and (max-width: 767px) {
          margin: 5px;
        }

        }
    }
    .flow-go-text-content{
      display: grid;
      grid-template-rows: auto;
      justify-items: center;
      a{
        color: white;
      }

    }
    .flow-stand-text-content{
      display: grid;
      grid-template-rows: auto;
      justify-items: center;
      a{
        color: white;
        cursor: pointer;
      }
    }
  }



