<section class="p-0">
  <!-- <div class="background-video">
        <video class="w-background-video" playsinline loop autoplay [muted]="'muted'">
            <source src="https://s3.ap-south-1.amazonaws.com/flowlyf.com/assets/video/Flowlyf+final+cut.mp4" type="video/mp4">
    </div> -->
  <div class="background-video" *ngIf="innerWidth >= 800">
    <video
      class="w-background-video"
      playsinline
      loop
      autoplay
      [muted]="'muted'"
    >
      <source
        src="https://s3.ap-south-1.amazonaws.com/flowlyf.com/assets/video/Flowlyf-Flowdesk-height adjustable desk-standing desk-smartdesk-ergonomics- pinewood-solidwood-modern design-workfromhome-product video final-Big mp4.mp4"
        type="video/mp4"
      />
    </video>
  </div>
  <div class="background-video" *ngIf="innerWidth > 450 && innerWidth < 800">
    <video
      class="w-background-video"
      playsinline
      loop
      autoplay
      [muted]="'muted'"
    >
      <source
        src="https://s3.ap-south-1.amazonaws.com/flowlyf.com/assets/video/standing+desk-smartdesk-ergonomics-+pinewood-solidwood-modern+design-workfromhome-+product+video+final-medium+mp4-2.mp4"
        type="video/mp4"
      />
    </video>
  </div>
  <div class="background-video" *ngIf="innerWidth < 450">
    <video
      class="w-background-video"
      playsinline
      loop
      autoplay
      [muted]="'muted'"
    >
      <source
        src="https://s3.ap-south-1.amazonaws.com/flowlyf.com/assets/video/standing+desk-smartdesk-ergonomics-+pinewood-solidwood-modern+design-workfromhome-+product+video+final-small+mp4-2.mp4"
        type="video/mp4"
      />
    </video>
  </div>
</section>

<section class="p-3 border-top border-bottom row no-gutters">
  <div class="col-lg-7 col-xl-6">
    <div class="container min-vh-lg-80 d-flex align-items-center">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-xl-9 text-center text-lg-left">
          <section>
            <div data-aos="fade-right">
              <h1 class="display-3">
                Take your workstyle to the next level
              </h1>
              <p class="lead">
                FlowDesk is a smart table that intuitively adapts to your
                workmodes at a press of a button. The ergonomic design results
                in an Immediate jump in your productivity and health, keeping
                you in a state of flow.
              </p>
            </div>
            <div>
              <h5>Starting @ Rs 2,590/- Per month</h5>
            </div>
            <div
              class="d-flex flex-column flex-sm-row mt-3 mt-md-5 justify-content-lg-start"
              data-aos="fade-right"
              data-aos-delay="150"
            >
              <!-- <a href="#" class="btn btn-primary btn-lg mx-sm-2 mx-lg-0 mr-lg-2 my-1 my-sm-0">View
                                                        Demos</a> -->
              <!-- <a href="https://rebrand.ly/HPSECTION1"
                                                        class="btn btn-primary btn-lg mx-sm-2 my-1 my-sm-0">Upgrade
                                                        Now</a> -->
              <a
                class="btn btn-primary btn-lg mx-sm-2 my-1 my-sm-0"
                [routerLink]="['/cart']"
                >Upgrade Now</a
              >
              <a
                class="btn btn-outline-primary btn-lg mx-sm-2 mx-lg-0 mr-lg-2 my-1 my-sm-0"
                (click)="openSpecDialog()"
                >Get Spec Sheet</a
              >
            </div>
            <div class="mt-3 mt-md-5">
              <h5>Made in India</h5>
            </div>
            <!-- <div class="d-flex flex-column flex-sm-row m-4 justify-content-lg-start"
                            data-aos="fade-right" data-aos-delay="150">
                            <div>
                                Buy
                                <br>
                                29,990/-
                            </div>
                            <div class="vertical-line" style="width: 1px;
                                background-color: #696969;
                                margin: 2px 14px;"></div>
                            <div>
                                Subscribe
                                <br>
                                1,990/-
                            </div>
                        </div> -->
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-xl-6 d-lg-flex flex-lg-column">
    <div
      class="divider divider-side transform-flip-y bg-white d-none d-lg-block"
    ></div>
    <!-- <div class="d-lg-flex flex-column flex-fill controls-hover"
            data-flickity='{ "prevNextButtons": false, "imagesLoaded": true, "wrapAround":true, "pageDots":false, "autoPlay":true }'>
            <div class="carousel-cell text-center">
                <img class="img-fluid" style="object-fit: contain;"
                    src="assets/flow-new-img/Flowdesk-standing desk-best for Work from home- modern office-ergonomic design- Home page- White base- solid pinewood-flowlyf copy.jpg"
                    alt="Image">
            </div>
        </div> -->
    <div
      class="d-lg-flex flex-column flex-fill controls-hover"
      data-flickity='{ "imagesLoaded": true, "wrapAround":true, "pageDots":false, "autoPlay":true }'
    >
      <div class="carousel-cell text-center">
        <img
          class="img-fluid"
          src="assets/flow-new-img-2/1500 x 1500/Flowdesk-standing desk-work table-best for Work from home- modern office-ergonomic desk- product page- modern design-Dark Walnut solid pinewood table top and light maple solid pinewood table top -height adjustable desk-office furniture-flowlyf 21.png"
          alt="Image"
        />
      </div>
      <div class="carousel-cell text-center">
        <img
          class="img-fluid"
          src="assets/flow-new-img-2/1500 x 1500/Flowdesk-standing desk-work table-best for Work from home- modern office-ergonomic desk- product page- modern design-Dark Walnut solid pinewood table top and light maple solid pinewood table top -height adjustable desk-office furniture-flowlyf 20.png"
          alt="Image"
        />
      </div>
      <div class="carousel-cell text-center">
        <img
          class="img-fluid"
          src="assets/flow-new-img-2/1500 x 1500/Flowdesk-standing desk-work table-best for Work from home- modern office-ergonomic desk- product page- modern design-Dark Walnut solid pinewood table top and light maple solid pinewood table top -height adjustable desk-office furniture-flowlyf 19.png"
          alt="Image"
        />
      </div>
    </div>
  </div>
</section>

<section style="padding-bottom: 1rem">
  <div class="container">
    <div
      style="margin-bottom: 2.6875rem;"
      class="row section-title justify-content-center text-center"
    >
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h3 class="display-4">
          How does FlowDesk better my productivity and health?
        </h3>
        <div class="lead" style="text-align: justify;">
          FlowDesk promotes an active workstyle, by letting you willingly switch
          between a standing and sitting position while working, resulting in
          the following.
        </div>
      </div>
    </div>
    <div>
      <img
        style="max-width: 100%; height: auto;
            margin-bottom: 24px;"
        src="assets/flow-img/home-page/Flowdesk-standing desk-best for Work from home- modern office-ergonomic design- Home page- sit-stand position-light and dark pine table top-flowlyf.png"
      />
    </div>

    <div class="row text-center mt-5">
      <div class="col-sm-3">
        <div class="h-100 border-top border-left border-thick border-white">
          <div class="p-3 p-md-5">
            <div class="display-4 text-primary mb-3">46%</div>
            <div>Increase in Productivity*</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="h-100 border-top border-left border-thick border-white">
          <div class="p-3 p-md-5">
            <div class="display-4 text-primary mb-3">54%</div>
            <div>Reduction in upper back and neck pain**</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="h-100 border-top border-left border-thick border-white">
          <div class="p-3 p-md-5">
            <div class="display-4 text-primary mb-3">Half</div>
            <div>The risk of type 2 diabetes***</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="h-100 border-top border-left border-thick border-white">
          <div class="p-3 p-md-5">
            <div class="display-4 text-primary mb-3">2X</div>
            <div>More calories burnt***</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center mt-5">
      <div
        class="col-md-6 col-lg-4 mb-4 mb-md-5"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="mx-xl-4">
          <img
            style="height: 58px;margin-bottom: 14px !important;"
            src="assets/flow-img/home-page/spine-2.png"
            alt="Kyan logo"
            class="mb-4"
          />
          <h5>Reduced Discomfort</h5>
          <!-- <p>
                        Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel Hodor.
                    </p> -->
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-4 mb-md-5"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="mx-xl-4">
          <img
            style="height: 48px;"
            src="assets/flow-img/home-page/focus.png"
            alt="Kyan logo"
            class="mb-4"
          />
          <h5>Increased Focus</h5>
          <!-- <p>
                        Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel Hodor.
                    </p> -->
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-4 mb-md-5"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="mx-xl-4">
          <img
            style="height: 48px;"
            src="assets/flow-img/home-page/energy .png"
            alt="Atica logo"
            class="mb-4"
          />
          <h5>Heightened Energy Levels</h5>
          <!-- <p>
                        Vel fringilla est ullamcorper eget. Eunuch pulvinar sapien et Loras ullamcorper Melisandre.
                    </p> -->
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-4 mb-md-5"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="mx-xl-4">
          <img
            style="height: 58px;margin-bottom: 14px !important;"
            src="assets/flow-img/home-page/posture.png"
            alt="Treva logo"
            class="mb-4"
          />
          <h5>Improved Posture</h5>
          <!-- <p>
                        Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas sed.
                    </p> -->
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-4 mb-md-5"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="mx-xl-4">
          <img
            style="height: 48px;"
            src="assets/flow-img/home-page/core.png"
            alt="Kanba logo"
            class="mb-4"
          />
          <h5>Strengthened Core</h5>
          <!-- <p>
                        Sed arcu Jon odio Oberyn lacinia at quis. Brienne fermentum vel porta Jon pulvinar neque.
                    </p> -->
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-4 mb-md-5"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="mx-xl-4">
          <img
            style="height: 48px;"
            src="assets/flow-img/home-page/calorie .png"
            alt="Kanba logo"
            class="mb-4"
          />
          <h5>More calories burned</h5>
          <!-- <p>
                        Sed arcu Jon odio Oberyn lacinia at quis. Brienne fermentum vel porta Jon pulvinar neque.
                    </p> -->
        </div>
      </div>
      <div
        class="col-md-12 col-lg-12 mb-4 mb-md-5"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="mx-xl-4 text-right">
          <a>* A&M University **CDC ***NCBI</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="bg-primary-3 text-white jarallax"
  data-jarallax
  data-speed="0.75"
>
  <img
    src="assets/flow-img/home-page/section 2 .jpg"
    alt="Hero"
    class="jarallax-img"
  />
  <div class="container min-vh-40 d-flex flex-column justify-content-center">
    <div class="row justify-content-center text-center text-sm-left">
      <!-- <div class="col d-flex flex-column flex-sm-row justify-content-center align-items-center">
                <a data-fancybox href="https://vimeo.com/166034462#t=32s"
                    class="btn btn-lg btn-light rounded-circle" data-aos="zoom-in" data-aos-delay="400">
                    <img src="assets/img/icons/interface/icon-media-play.svg" alt="Media Play Icon"
                        class="icon icon-lg bg-dark pl-1" data-inject-svg>
                </a>
                <div class="h1 mb-0 mt-4 mt-sm-0 ml-sm-4" data-aos="fade-up">&ldquo;They changed the game&rdquo;
                </div>
            </div> -->
    </div>
  </div>
</section>
<section class="bg-gradient text-white pb-0">
  <div class="container">
    <div class="row section-title justify-content-center text-center">
      <div class="col-md-11 col-lg-10 col-xl-9">
        <h3 class="display-4">How does FlowDesk adapt to my work modes?</h3>
        <div class="lead" style="text-align: justify;">
          Be it a brainstorming session, deep focus work, a con call or even
          coffee! If your work modes can be different, so can we. The FlowDesk
          can adjust it’s height to your preference at the press of a button!
          ensuring seamless transition between your work modes.
        </div>
      </div>
    </div>
  </div>
  <div class="text-center" style="margin-top: -25px;">
    <img
      src="./assets/flow-img/home-page/Flowdesk-standing desk-best for Work from home- modern office-ergonomic design- Home page- memory setting- light pine table top-flowlyf.png"
    />
  </div>
  <div class="divider divider-bottom bg-light"></div>
</section>

<section class="bg-light pb-0">
  <div class="container">
    <div class="row section-title justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h3 class="display-4">Reviews</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center mb-4 mb-md-0">
        <img
          src="assets/flow-new-img/Testimonials /Flowdesk-standing desk-best for Work from home- modern office-ergonomic design- product page- modern design- black sand base- dark walnut solid pinewood table top-height adjustable desk-Sit-stand-desk-flowlyf- testimonial-128.png"
          alt="Shelley McNabb avatar image"
          class="avatar avatar-lg mb-3 mb-md-4"
        />
        <blockquote class="blockquote p-0 border-0 text-body pr-xl-4">
          FlowDesk has changed my life ! Not exaggerating ! The ability to
          research and draft while being “on the legs” is incredible and
          liberating !
        </blockquote>
        <div class="d-flex flex-column align-items-center">
          <h6 class="mb-1">Kabeer</h6>
          <span>Lawyer- Delhi High Court</span>
        </div>
      </div>
      <div class="col-md-6 text-center mb-4 mb-md-0">
        <img
          src="assets/flow-new-img/Testimonials /Flowdesk-standing desk-best for Work from home- modern office-ergonomic design- product page- modern design- black sand base- dark walnut solid pinewood table top-height adjustable desk-Sit-stand-desk-flowlyf- testimonial-11.png"
          alt="Shelley McNabb avatar image"
          class="avatar avatar-lg mb-3 mb-md-4"
        />
        <blockquote class="blockquote p-0 border-0 text-body pr-xl-4">
          A regular table feels like history now, the FlowDesk is adaptive and
          easy to work on and wireless charging on the desk is literally the
          best thing ever!
        </blockquote>
        <div class="d-flex flex-column align-items-center">
          <h6 class="mb-1">Ishita</h6>
          <span>Marketing consultant, Animal</span>
        </div>
      </div>
      <div class="col-md-6 text-center mt-5 mb-4 mb-md-0">
        <img
          src="assets/flow-new-img/Testimonials /Flowdesk-standing desk-best for Work from home- modern office-ergonomic design- product page- modern design- black sand base- dark walnut solid pinewood table top-height adjustable desk-Sit-stand-desk-flowlyf- testimonial-12.png"
          alt="Shelley McNabb avatar image"
          class="avatar avatar-lg mb-3 mb-md-4"
        />
        <blockquote class="blockquote p-0 border-0 text-body pr-xl-4">
          The desk looks great ! i like how everything just falls into place on
          the table top, nice ergonomic design ! I used to hate sitting down for
          hours, the automated height feature has just made it so easy for me to
          work!
        </blockquote>
        <div class="d-flex flex-column align-items-center">
          <h6 class="mb-1">Swati</h6>
          <span>Copywriter – Lowe Lintas</span>
        </div>
      </div>
      <div class="col-md-6 text-center mt-5 mb-4 mb-md-0">
        <img
          src="assets/flow-new-img/Testimonials /Flowdesk-standing desk-best for Work from home- modern office-ergonomic design- product page- modern design- black sand base- dark walnut solid pinewood table top-height adjustable desk-Sit-stand-desk-flowlyf- testimonial-127.png"
          class="avatar avatar-lg mb-3 mb-md-4"
        />
        <blockquote class="blockquote p-0 border-0 text-body pr-xl-4">
          It helps me to work in the most comfortable and efficient manner.
          Sitting for long hours caused discomfort and even pain, but with
          FlowDesk I can change my posture and give my back some rest, even
          while working!
        </blockquote>
        <div class="d-flex flex-column align-items-center">
          <h6 class="mb-1">Deepak</h6>
          <span>Founder-Velmenni</span>
        </div>
      </div>
    </div>
  </div>
  <div class="divider divider-bottom bg-white"></div>
</section>

<section class="pt-0">
  <div class="divider divider-top transform-flip-x bg-white"></div>
  <div class="container">
    <div class="row section-title justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h3 class="display-4">
          Get your hands on the FlowDesk for a monthly subscription of Rs
          2,590/-
        </h3>
        <h3>Flexibility inbuilt</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="10">
        <div
          class="d-flex flex-row align-items-center card card-body shadow-sm bg-white"
        >
          <div class="m-3 text-center" style="margin-left: -1rem !important;">
            <img
              src="assets/flow-img/price plan/pricing PNG/upgrade.png"
              style="margin: auto;height:60px;width: 60px;"
            />
          </div>
          <div class="flex-fill">
            <h5>SWAP OR UPGRADE ANYTIME</h5>
            <p style="min-height:96px">
              We evolve our workstyles evolve, swap or upgrade to any of our
              FlowDesk models that fit you the best at anytime.
            </p>
          </div>
          <!-- <a href="#" class="stretched-link">Learn More</a> -->
        </div>
      </div>
      <div class="col-md-6 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="20">
        <div
          class="d-flex flex-row align-items-center card card-body shadow-sm bg-white"
        >
          <div class="m-3 text-center" style="margin-left: -1rem !important;">
            <img
              src="assets/flow-img/price plan/pricing PNG/12.png"
              style="margin: auto;height:60px;width: 60px;"
            />
          </div>
          <div class="flex-fill">
            <h5>CANCEL ANYTIME</h5>
            <p style="min-height:96px">
              Plans change, pay only for the time that you have used the
              FlowDesk. Cancel your subscription with ease.
            </p>
          </div>
          <!-- <a href="#" class="stretched-link">Learn More</a> -->
        </div>
      </div>
      <div class="col-md-6 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="30">
        <div
          class="d-flex flex-row align-items-center card card-body shadow-sm bg-white"
        >
          <div class="m-3 text-center" style="margin-left: -1rem !important;">
            <img
              src="assets/flow-img/price plan/pricing PNG/14.png"
              style="margin: auto;height:60px;width: 60px;"
            />
          </div>
          <div class="flex-fill">
            <h5>SUBSCRIBE TO OWN</h5>
            <p style="min-height:96px">
              Start off with a monthly subscription, if you get hooked to the
              workstyle purchase the desk from us , we’ll minus what you have
              paid!
            </p>
          </div>
          <!-- <a href="#" class="stretched-link">Learn More</a> -->
        </div>
      </div>
      <div class="col-md-6 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="40">
        <div
          class="d-flex flex-row align-items-center card card-body shadow-sm bg-white"
        >
          <div class="m-3 text-center" style="margin-left: -1rem !important;">
            <img
              src="assets/flow-img/price plan/pricing PNG/10.png"
              style="margin: auto;height:60px;width: 60px;"
            />
          </div>
          <div class="flex-fill">
            <h5>FREE MAINTENANCE</h5>
            <p style="min-height:96px">
              We won’t let anything hinder your flow. <br />We’ll make sure that
              your FlowDesk is always working perfectly.
            </p>
          </div>
          <!-- <a href="#" class="stretched-link">Learn More</a> -->
        </div>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-primary" href="./pricing-plan">Learn More</a>
    </div>
  </div>
</section>

<section class="bg-white o-hidden" style="padding-top: 0;">
  <div class="row justify-content-center text-center">
    <div class="col-md-9 col-lg-8 col-xl-7">
      <h2 class="display-4 mb-5 mt-5">
        Choose what fits <br />
        your workstyle
      </h2>
    </div>
  </div>
  <div class="container" style="max-width: 100%">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6" data-aos="fade-right">
        <img
          src="assets/flow-new-img/Flowdesk-standing desk-best for Work from home- modern office-ergonomic design- product page- modern design- black sand base- dark walnut solid pinewood table top-height adjustable desk-Sit-stand-desk-flowlyf.jpf.jpg"
          alt="Screenshot"
          class="img-fluid"
        />
        <div class="text-center m-3">
          <h3 style="font-size: 22px;">FlowDesk Classic</h3>
          <h6 style="margin: -10px;">4ft L x 2ft W x (2.3ft-4ft) H</h6>
          <h6 style="width: 70%;margin: 30px auto;">
            Classic fits into any space easily. We follow global standards for a
            comfortable desk space, Perfect for home office
          </h6>
          <div class="d-flex justify-content-center mt-3 mb-3">
            <div>
              <h3 style="font-size: 22px;">Buy</h3>
              <a
                class="btn btn-primary mr-lg-2 my-sm-0"
                style="color: #fff;background-color: #243a33;border-color: #243a33;"
                >₹37,900/-</a
              >
            </div>
            <div>
              <h3 style="font-size: 22px;">Subscribe</h3>
              <a
                class="btn btn-primary mr-lg-2 my-sm-0"
                style="color: #fff;background-color: #243a33;border-color: #243a33;"
                >₹2,590/- Mo</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" data-aos="fade-left">
        <img
          src="assets/flow-new-img/Flowdesk-standing desk-best for Work from home- modern office-ergonomic design- product page- modern design- black sand base- dark walnut solid pinewood table top-height adjustable desk-Sit-stand-desk-flowlyf.jpg"
          alt="Screenshot"
          class="img-fluid"
        />
        <div class="text-center m-3">
          <h3 style="font-size: 22px;">FlowDesk Max</h3>
          <h6 style="margin: -10px;">5ft L x 2.5 ft W x (2.3ft-4ft) H</h6>
          <h6 style="width: 70%;margin: 30px auto;">
            Max is perfect for wide spread working. Designed for a multi screen
            setup, there's room for it all.
          </h6>
          <div class="d-flex justify-content-center mt-3 mb-3">
            <div>
              <h3 style="font-size: 22px">Buy</h3>
              <a
                class="btn btn-primary mr-lg-2 my-sm-0"
                style="color: #fff;background-color: #154062;border-color: #154062;"
                >₹43,400/-</a
              >
            </div>
            <div>
              <h3 style="font-size: 22px">Subscribe</h3>
              <a
                class="btn btn-primary mr-lg-2 my-sm-0"
                style="color: #fff;background-color: #154062;border-color: #154062;"
                >₹2,990/- Mo</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center" style="text-decoration: underline">
      <a class="btn btn-outline-primary" (click)="openSpecDialog()"
        >Get Spec Sheet</a
      >
      <!-- <a href="" (click)="openSpecDialog()">Get Spec Sheet</a> -->
      <!-- <a href="./pricing-plan">Learn More</a> -->
    </div>
  </div>
  <div class="text-center">
    <a>Price all inclusive of 18% GST, Delivery and Installation Charges.</a>
  </div>
</section>

<!-- flow go details on Medium and larger screen -->
<section class="d-none d-md-block" style="padding-top: 0 !important;">
  <div class="">
    <div class="row">
      <div class="col-md-4">
        <img
          src="assets/flow-go-home/flow-go-left.png"
          alt="Screenshot"
          class="img-fluid"
        />
      </div>
      <div class="text-center col-md-4 " style="align-self: center">
        <div class="flow-go-text">
          <div class="flow-go-text-header">
            <h2>
              FlowDesk<br />
              Get. Set.
            </h2>
            <h1 class="go-text">GO</h1>
          </div>
          <div class="flow-go-text-content">
            <div>Subscribe @ INR 1990 / Mo. OR Buy @ INR 28,900/-</div>
            <a>Subscribe-to -own available </a>
            <a>Get</a>
            <br />
            <a>Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img
          src="assets/flow-go-home/flow-go-right.png"
          alt="Screenshot"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>


<!-- flow go details on Smaller screen -->
<section class="d-block d-md-none" style="padding-top: 0 !important;">
  <div class="container">
    <div class="row">

          <div class="text-center col-12 " style="align-self: center">
            <div class="flow-go-text">
              <div class="flow-go-text-header">
                <h2>
                  FlowDesk<br />
                  Get. Set.
                </h2>
                <h1 class="go-text">GO</h1>
              </div>
              <div class="flow-go-text-content">
                <div>Subscribe @ INR 1990 / Mo. OR Buy @ INR 28,900/-</div>
                <a>Subscribe-to -own available </a>
                <a>Get</a>
                <br />
                <a>Learn More</a>
              </div>
            </div>
          </div>

      <div class="col-6">
        <img
          src="assets/flow-go-home/flow-go-left.png"
          alt="Screenshot"
          class="img-fluid"
        />
      </div>

      <div class="col-6">
        <img
          src="assets/flow-go-home/flow-go-right.png"
          alt="Screenshot"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>

<!-- flow standing details  -->
<section  style="padding-top: 0 !important;">
  <div style="background-color: #aa6e3c">
    <div class="row">

          <div class="col-6">
            <img
              src="assets/flow-go-home/Flowdesk-standing-2 .png"
              alt="Screenshot"
              class="img-fluid"
            />
          </div>

          <div class="col-6">
            <img
              src="assets/flow-go-home/Flowdsk-standing-1.png"
              alt="Screenshot"
              class="img-fluid"
            />
          </div>

          <div class="text-center col-12 " style="align-self: center">
            <div class="flow-go-text">

              <div class="flow-stand-text-content">
              <h2>Flowdesk</h2>
              <h2>Straight to Great</h2>
                <div>Subscribe @ INR 2590 / Mo. OR Buy @ INR 37,900/-</div>
                <a>Subscribe-to -own available </a>
                <a>Get</a>
                <br />
                <a>Learn More</a>
              </div>
            </div>
          </div>


    </div>
  </div>
</section>

<!-- comparison table -->
<section  style="padding-top: 0 !important;">
  <div class="container">
    <div class="row" style="justify-content: center">
        <app-comparision-table style="width: 100%"></app-comparision-table>
    </div>
  </div>
</section>

<section style="padding-top: 0 !important;">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="10">
        <div
          class="fancybox"
          style="cursor: pointer;"
          href="assets/flow-new-img-2/300 x 300/Flowdesk-standing desk-work table-best for Work from home- modern office-ergonomic desk- product page- modern design-Dark Walnut solid pinewood table top and light maple solid pinewood table top -height adjustable desk-office furniture-flowlyf 3.png"
          data-fancybox="gallery1"
        >
          <img
            src="assets/flow-new-img-2/300 x 300/Flowdesk-standing desk-work table-best for Work from home- modern office-ergonomic desk- product page- modern design-Dark Walnut solid pinewood table top and light maple solid pinewood table top -height adjustable desk-office furniture-flowlyf 3.png"
            alt="Image"
            class="img-fluid rounded mb-4"
          />
        </div>
      </div>
      <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="10">
        <div
          class="fancybox"
          style="cursor: pointer;"
          href="assets/flow-new-img-2/300 x 300/Flowdesk-standing desk-work table-best for Work from home- modern office-ergonomic desk- product page- modern design-Dark Walnut solid pinewood table top and light maple solid pinewood table top -height adjustable desk-office furniture-flowlyf 4.png"
          data-fancybox="gallery1"
        >
          <img
            src="assets/flow-new-img-2/300 x 300/Flowdesk-standing desk-work table-best for Work from home- modern office-ergonomic desk- product page- modern design-Dark Walnut solid pinewood table top and light maple solid pinewood table top -height adjustable desk-office furniture-flowlyf 4.png"
            alt="Image"
            class="img-fluid rounded mb-4"
          />
        </div>
      </div>
      <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="10">
        <div
          class="fancybox"
          style="cursor: pointer;"
          href="assets/flow-new-img-2/300 x 300/Flowdesk-standing desk-work table-best for Work from home- modern office-ergonomic desk- product page- modern design-Dark Walnut solid pinewood table top and light maple solid pinewood table top -height adjustable desk-office furniture-flowlyf 8.png"
          data-fancybox="gallery1"
        >
          <img
            src="assets/flow-new-img-2/300 x 300/Flowdesk-standing desk-work table-best for Work from home- modern office-ergonomic desk- product page- modern design-Dark Walnut solid pinewood table top and light maple solid pinewood table top -height adjustable desk-office furniture-flowlyf 8.png"
            alt="Image"
            class="img-fluid rounded mb-4"
          />
        </div>
      </div>
      <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="10">
        <div
          class="fancybox"
          style="cursor: pointer;"
          href="assets/flow-new-img-2/300 x 300/Flowdesk-standing desk-work table-best for Work from home- modern office-ergonomic desk- product page- modern design-Dark Walnut solid pinewood table top and light maple solid pinewood table top -height adjustable desk-office furniture-flowlyf 2.png"
          data-fancybox="gallery1"
        >
          <img
            src="assets/flow-new-img-2/300 x 300/Flowdesk-standing desk-work table-best for Work from home- modern office-ergonomic desk- product page- modern design-Dark Walnut solid pinewood table top and light maple solid pinewood table top -height adjustable desk-office furniture-flowlyf 2.png"
            alt="Kyan logo"
            class="img-fluid rounded mb-4"
          />
        </div>
      </div>
      <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="20">
        <div
          class="fancybox"
          style="cursor: pointer;"
          href="assets/flow-new-img-2/300 x 300/Flowdesk-standing desk-work table-best for Work from home- modern office-ergonomic desk- product page- modern design-Dark Walnut solid pinewood table top and light maple solid pinewood table top -height adjustable desk-office furniture-flowlyf 1.png"
          data-fancybox="gallery1"
        >
          <img
            src="assets/flow-new-img-2/300 x 300/Flowdesk-standing desk-work table-best for Work from home- modern office-ergonomic desk- product page- modern design-Dark Walnut solid pinewood table top and light maple solid pinewood table top -height adjustable desk-office furniture-flowlyf 1.png"
            alt="Image"
            class="img-fluid rounded mb-4"
          />
        </div>
      </div>
      <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="20">
        <div
          class="fancybox"
          style="cursor: pointer;"
          href="assets/flow-new-img-2/300 x 300/35.PNG"
          data-fancybox="gallery1"
        >
          <img
            src="assets/flow-new-img-2/300 x 300/35.PNG"
            alt="Image"
            class="img-fluid rounded mb-4"
          />
        </div>
      </div>
      <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="20">
        <div
          class="fancybox"
          style="cursor: pointer;"
          href="assets/flow-new-img-2/300 x 300/37.PNG"
          data-fancybox="gallery1"
        >
          <img
            src="assets/flow-new-img-2/300 x 300/37.PNG"
            alt="Image"
            class="img-fluid rounded mb-4"
          />
        </div>
      </div>
      <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="20">
        <div
          class="fancybox"
          style="cursor: pointer;"
          href="assets/flow-new-img-2/300 x 300/Flowdesk-standing desk-work table-best for Work from home- modern office-ergonomic desk- product page- modern design-Dark Walnut solid pinewood table top and light maple solid pinewood table top -height adjustable desk-office furniture-flowlyf7.png"
          data-fancybox="gallery1"
        >
          <img
            src="assets/flow-new-img-2/300 x 300/Flowdesk-standing desk-work table-best for Work from home- modern office-ergonomic desk- product page- modern design-Dark Walnut solid pinewood table top and light maple solid pinewood table top -height adjustable desk-office furniture-flowlyf7.png"
            alt="Image"
            class="img-fluid rounded mb-4"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0 bg-primary text-white row no-gutters">
  <div class="col-md-6">
    <img
      src="assets/flow-img/home-page/section 6 new pic .jpg"
      alt="Image"
      class="w-100 h-100"
    />
    <div class="divider divider-side bg-primary d-none d-lg-block"></div>
  </div>
  <div class="col-md-6" style="padding: 10px 0;margin: auto;">
    <section class="p-2">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-xl-9">
            <!-- <h3 class="h1">&ldquo;Get your hands on the FlowDesk @ just Rs 1,990/- a month&rdquo;</h3>
                        <p class="lead">
                            Still in 2 minds about the FlowDesk ? Here’s a little push, try it out with our monthly
                            subscription plan and if you get hooked to this workstyle ! You can opt for
                            <a style="color: #1d4e2d;" href="./pricing-plan">subscribe-to-own</a>.
                            <br>
                            OR
                            <br>
                            Purchase it outrightly at the best price and become the owner from day 1
                        </p> -->
            <div class="container">
              <div class="mb-5 row justify-content-center text-center">
                <h3>Have a question?</h3>
                <h3>Connect with us on WhatsApp</h3>
              </div>
              <div class="row justify-content-center text-center mt-md-n3">
                <div class="col-auto">
                  <img
                    src="assets/flow-new-img/whatsapp-128.png"
                    alt="whatsapp"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5 d-flex flex-column flex-sm-row justify-content-center">
          <!-- <a style="background: white;" href="https://rebrand.ly/HPSECTION6"
                        class="btn btn-outline-primary btn-lg mx-sm-2 mx-lg-0 mr-lg-2 my-1 my-sm-0">Upgrade
                        Now</a> -->
          <a
            style="background: white;"
            target="_blank"
            href="https://wa.me/919810819723"
            class="btn btn-outline-primary btn-lg mx-sm-2 mx-lg-0 mr-lg-2 my-1 my-sm-0"
            >Chat Now</a
          >
        </div>
        <h3 class="text-center m-2">OR</h3>
        <div class="d-flex flex-column flex-sm-row justify-content-center">
          <a
            style="background: white;"
            class="btn btn-outline-primary btn-lg mx-sm-2 mx-lg-0 mr-lg-2 my-1 my-sm-0"
            href="javascript:void(0);"
            (click)="scheduleCall()"
            >Schedule a Call</a
          >
        </div>
      </div>
    </section>
  </div>
</section>

<!-- <section class="pb-0 pt-5">
    <div class="container">
        <div class="mb-5 row justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3>Have a question?</h3>
                <h3>Connect with us on WhatsApp</h3>
            </div>
        </div>
        <div class="row justify-content-center text-center mt-md-n3">
            <div class="col-auto">
                <img src="assets/flow-new-img/whatsapp-128.png" alt="whatsapp">
                <br>
                <a target="_blank" href="https://wa.me/919810819723" class="btn btn-primary btn-lg m-5">Chat
                    Now</a>
            </div>
        </div>
    </div>
    <div class="divider divider-bottom bg-primary-3"></div>
</section> -->
