<section class="bg-white o-hidden" style="padding-top: 1rem;">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="display-4">Price Plan</h3>
                <div class="lead">Our aim is to make your Journey effortless. Just like the FlowDesk our price plans
                    are flexible too.</div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="nav nav-pills lead mb-3 mt-3 justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="buy-tab" data-toggle="tab" href="#buy" role="tab"
                                aria-controls="buy" aria-selected="true">Buy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="subscribe-tab" data-toggle="tab" href="#subscribe" role="tab"
                                aria-controls="subscribe" aria-selected="false">Subscribe</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="buy" role="tabpanel" aria-labelledby="buy-tab">
                            <div class="row justify-content-center text-center">
                                <div class="col-md-9 col-lg-8 col-xl-7">
                                    <h5 style="font-size: 2rem;" class="display-4">Outright Purchase</h5>
                                    <!-- <div class="lead">Outright 2 liner text</div> -->
                                </div>
                            </div>
                            <div class="row align-items-center justify-content-between">
                                <div class="col-md-6 text-center" data-aos="fade-right">
                                    <img src="assets/flow-img/price plan/Flowdesk-standing desk-best for Work from home- modern office-ergonomic design- product page- modern design- pearl white base- light maple solid pinewood table top-height adjustable desk-flowlyf.png"
                                        alt="Screenshot" class="img-fluid">
                                    <div class="text-center">
                                        <h3 style="font-size: 22px;">Classic</h3>
                                        <a class="btn btn-primary mr-lg-2 my-sm-0"
                                            style="color: #fff;background-color: #243a33;border-color: #243a33;">₹37,900/-</a>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center" data-aos="fade-left">
                                    <img src="assets/flow-img/price plan/Flowdesk-standing desk-best for Work from home- modern office-ergonomic design- product page- modern design- black sand base- dark walnut solid pinewood table top-height adjustable desk-flowlyf.png.png"
                                        alt="Screenshot" class="img-fluid">
                                    <div class="text-center">
                                        <h3 style="font-size: 22px;">Max</h3>
                                        <a class="btn btn-primary mr-lg-2 my-sm-0"
                                            style="color: #fff;background-color: #243a33;border-color: #243a33;">₹43,400/-</a>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <a>Price all inclusive of 18% GST, Delivery and Installation Charges.</a>
                            </div>
                            <div class="row text-center">
                                <div class="col-md-3 mb-3 mt-3">
                                    <div class="card card-body shadow-sm h-100 text-center">
                                        <img style="margin: auto;height:50px;width: 50px;"
                                            src="assets/flow-img/price plan/pricing PNG/13.png" />
                                        <div style="margin: auto 0;">Free Shipping</div>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-3 mt-3">
                                    <div class="card card-body shadow-sm h-100 text-center">
                                        <img style="margin: auto;height:50px;width: 50px;"
                                            src="assets/flow-img/price plan/pricing PNG/9.png" />
                                        <div style="margin: auto 0;">Free Instalation</div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 mt-3">
                                    <div class="card card-body shadow-sm h-100 text-center">
                                        <img style="margin: auto;height:50px;width: 50px;"
                                            src="assets/flow-img/price plan/pricing PNG/11.png" />
                                        <div style="margin: auto 0;">2 year warranty</div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 mt-3">
                                    <div class="card card-body shadow-sm h-100 text-center">
                                        <img style="margin: auto;height:50px;width: 50px;"
                                            src="assets/flow-img/price plan/pricing PNG/9.png" />
                                        <div style="margin: auto 0;">15 day free return</div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 mt-3">
                                    <div class="card card-body shadow-sm h-100 text-center">
                                        <img style="margin: auto;height:50px;width: 50px;"
                                            src="assets/flow-img/price plan/pricing PNG/8.png" />
                                        <div style="margin: auto 0;">Emi available</div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 mt-3">
                                    <div class="card card-body shadow-sm h-100 text-center">
                                        <img style="margin: auto;height:50px;width: 50px;"
                                            src="assets/flow-img/price plan/pricing PNG/11.png" />
                                        <div style="margin: auto 0;">5 year warranty on table frame</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="subscribe" role="tabpanel" aria-labelledby="subscribe-tab">
                            <div class="row justify-content-center text-center">
                                <div class="col-md-9 col-lg-8 col-xl-7">
                                    <h5 style="font-size: 2rem;" class="display-4">Pay for what you use </h5>
                                    <!-- <div class="lead">Outright 2 liner text</div> -->
                                </div>
                            </div>
                            <div class="row align-items-center justify-content-between">
                                <div class="col-md-6 text-center" data-aos="fade-right">
                                    <img src="assets/flow-img/price plan/Flowdesk-standing desk-best for Work from home- modern office-ergonomic design- product page- modern design- pearl white base- light maple solid pinewood table top-height adjustable desk-flowlyf.png"
                                        alt="Screenshot" class="img-fluid">
                                    <div class="text-center">
                                        <h3 style="font-size: 22px;">Classic</h3>
                                        <a class="btn btn-primary mr-lg-2 my-sm-0"
                                            style="color: #fff;background-color: #243a33;border-color: #243a33;">₹2,590/-
                                            Mo</a>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center" data-aos="fade-left">
                                    <img src="assets/flow-img/price plan/Flowdesk-standing desk-best for Work from home- modern office-ergonomic design- product page- modern design- black sand base- dark walnut solid pinewood table top-height adjustable desk-flowlyf.png.png"
                                        alt="Screenshot" class="img-fluid">
                                    <div class="text-center">
                                        <h3 style="font-size: 22px;">Max</h3>
                                        <a class="btn btn-primary mr-lg-2 my-sm-0"
                                            style="color: #fff;background-color: #243a33;border-color: #243a33;">₹2,990/-
                                            Mo</a>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <a>Price all inclusive of 18% GST, Delivery and Installation Charges.</a>
                            </div>
                            <div class="m-4 row justify-content-center text-center">
                                <div class="col-md-9 col-lg-8 col-xl-7">
                                    <h3>How it works</h3>
                                </div>
                            </div>
                            <div class="mt-4 row justify-content-center">
                                <div class="col-md-3 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="10">
                                    <div class="card card-body shadow-sm bg-white"
                                        style="height: 100%;padding: 1.25rem;">
                                        <div class="flex-fill">
                                            <h6 style="color: #243a33;">Step 1 – Select your model</h6>
                                            <p>Choose what fits your workstyle the best between Classic and Max.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="20">
                                    <div class="card card-body shadow-sm bg-white"
                                        style="height: 100%;padding: 1.25rem;">
                                        <div class="flex-fill">
                                            <h6 style="color: #243a33;">Step 2 – Customize it</h6>
                                            <p>4 way customization options, sure to blend into any modern work
                                                environment or home office.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="30">
                                    <div class="card card-body shadow-sm bg-white"
                                        style="height: 100%;padding: 1.25rem;">
                                        <div class="flex-fill">
                                            <h6 style="color: #243a33;">Step 3 - Start your subscription</h6>
                                            <p>You will be charged monthly, pay securely and automatically through your
                                                credit card or bank account. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="40">
                                    <div class="card card-body shadow-sm bg-white"
                                        style="height: 100%;padding: 1.25rem;">
                                        <div class="flex-fill">
                                            <h6 style="color: #243a33;">Step 4 – Get in flow</h6>
                                            <p>We will setup the FlowDesk for you. Delivery, installation all on us.
                                                You Just plug and play!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 col-md-6">
                                <h6>
                                    - The minimum duration a FlowDesk can be subscribed for is 3 months
                                </h6>
                                <h6> - A refundable security deposit of 2 months subscription amount is charged
                                </h6>
                                <h6> - Cancel any time by giving us a month's notice.
                                </h6>
                                <h6> - You can opt for Subscribe-to-own; it enables you to buy the desk any time
                                    during
                                    your subscription. Simply pay the difference in amount of the selling price and
                                    money you have paid in subscription already.
                                </h6>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-3 mt-3">
                                    <div class="card card-body shadow-sm h-100 text-center">
                                        <img style="margin: auto;height:50px;width: 50px;"
                                            src="assets/flow-img/price plan/pricing PNG/13.png" />
                                        <div style="margin: auto 0;">Free Shipping</div>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-3 mt-3">
                                    <div class="card card-body shadow-sm h-100 text-center">
                                        <img style="margin: auto;height:50px;width: 50px;"
                                            src="assets/flow-img/price plan/pricing PNG/15.png" />
                                        <div style="margin: auto 0;">Free Instalation</div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 mt-3">
                                    <div class="card card-body shadow-sm h-100 text-center">
                                        <img style="margin: auto;height:50px;width: 50px;"
                                            src="assets/flow-img/price plan/pricing PNG/12.png" />
                                        <div style="margin: auto 0;">Cancel any time</div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 mt-3">
                                    <div class="card card-body shadow-sm h-100 text-center">
                                        <img style="margin: auto;height:50px;width: 50px;"
                                            src="assets/flow-img/price plan/pricing PNG/10.png" />
                                        <div style="margin: auto 0;">Free servicing And maintenance</div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 mt-3">
                                    <div class="card card-body shadow-sm h-100 text-center">
                                        <img style="margin: auto;height:50px;width: 50px;"
                                            src="assets/flow-img/price plan/pricing PNG/14.png" />
                                        <div style="margin: auto 0;"> Subscribe-to-own</div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 mt-3">
                                    <div class="card card-body shadow-sm h-100 text-center">
                                        <img style="margin: auto;height:50px;width: 50px;"
                                            src="assets/flow-img/price plan/pricing PNG/upgrade.png" />
                                        <div style="margin: auto 0;">
                                            Swap or upgrade anytime 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 mt-3">
                                    <div class="card card-body shadow-sm h-100 text-center">
                                        <img style="margin: auto;height:50px;width: 50px;"
                                            src="assets/flow-img/price plan/pricing PNG/11.png" />
                                        <div style="margin: auto 0;">5 year warranty on table frame</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="padding-top:0;">
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="display-4">FAQ</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <div id="faq-accordion">
                    <div class="card mb-2 mb-md-3">
                        <a href="#accordion-1" data-toggle="collapse" role="button" aria-expanded="false"
                            class="p-3 p-md-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-2">What’s the difference between buying and subscribing ?
                                </h6>
                                <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                    class="icon icon-sm" data-inject-svg>
                            </div>
                        </a>
                        <div class="collapse" id="accordion-1" data-parent="#faq-accordion">
                            <div class="px-3 px-md-4 pb-3 pb-md-4">
                                When a customer purchases the product from FlowLyf, they pay the full amount of
                                product
                                at the check-out and become the owner of the product. Whereas subscription is a pay
                                per
                                use model, in this the customer pay according to the usage of the product usually a
                                monthly
                                recurring amount.
                            </div>
                        </div>
                    </div>

                    <div class="card mb-2 mb-md-3">
                        <a href="#accordion-2" data-toggle="collapse" role="button" aria-expanded="false"
                            class="p-3 p-md-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-2">What subscription plan does Flowlyf offer?</h6>
                                <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                    class="icon icon-sm" data-inject-svg>
                            </div>
                        </a>
                        <div class="collapse" id="accordion-2" data-parent="#faq-accordion">
                            <div class="px-3 px-md-4 pb-3 pb-md-4">
                                Currently Flowlyf offers subscription for its product FlowDesk Classic and FlowDesk
                                Max.
                                The minimum time frame the FlowDesk can be subscribed for is 3 month. There is no
                                maximum tenure, you cancel the subscription at any time during the tenure by giving
                                1
                                month prior notice.
                                Customer can also avail Subscribe- to-Purchase. For more info please read the
                                section below
                            </div>
                        </div>
                    </div>

                    <div class="card mb-2 mb-md-3">
                        <a href="#accordion-3" data-toggle="collapse" role="button" aria-expanded="false"
                            class="p-3 p-md-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-2">What is Subscribe-to-Own?</h6>
                                <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                    class="icon icon-sm" data-inject-svg>
                            </div>
                        </a>
                        <div class="collapse" id="accordion-3" data-parent="#faq-accordion">
                            <div class="px-3 px-md-4 pb-3 pb-md-4">
                                Subscribe-to-Own is a program designed specifically to provide highest
                                degree of flexibility
                                to our customers. You can try our products by subscribing to them and if
                                you love them,
                                purchase them from us at special prices that are transparent and
                                pre-defined, we will
                                subtract what you have paid already.
                                Here is how it works
                                Suppose you Subscribed to the FlowDesk at Rs. 2000/month. After 6 months
                                of the
                                subscription duration, you decide to own it. By this time, you must have
                                already paid Rs.
                                2,000*6 = Rs. 12,000. And the Adjusted Buying Price of the month is
                                Rs.30000.
                                therefore, Rs. 30,000 - Rs. 12,000 = Rs. 18,000. All you have to do is
                                pay the price Rs.
                                18,000/- and the FlowDesk is yours!
                                On order page in your profile, you can see the predefined Subscribe -to-
                                Own prices. Decide
                                if you want to Own, and we’ll handle the rest.
                            </div>
                        </div>
                    </div>

                    <div class="card mb-2 mb-md-3">
                        <a href="#accordion-4" data-toggle="collapse" role="button" aria-expanded="false"
                            class="p-3 p-md-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-2">
                                    How do I opt for Subscribe -to- Own?</h6>
                                <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                    class="icon icon-sm" data-inject-svg>
                            </div>
                        </a>
                        <div class="collapse" id="accordion-4" data-parent="#faq-accordion">
                            <div class="px-3 px-md-4 pb-3 pb-md-4">
                                If you have subscribed to any of our products for more than 1 month you
                                have unlocked
                                the option to own the product, you shall find own now button on the
                                orders page in your
                                profile. Simply click it and follow the instructions
                                Each product eligible for Subscribe -to- Own shall carry the Adjusted
                                Buying Price for that
                                month. You can choose the option to pay the balance amount and own the
                                product right
                                there. </div>
                        </div>
                    </div>

                    <div class="card mb-2 mb-md-3">
                        <a href="#accordion-5" data-toggle="collapse" role="button" aria-expanded="false"
                            class="p-3 p-md-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-2">Why do I have to pay a security
                                    deposit?</h6>
                                <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                    class="icon icon-sm" data-inject-svg>
                            </div>
                        </a>
                        <div class="collapse" id="accordion-5" data-parent="#faq-accordion">
                            <div class="px-3 px-md-4 pb-3 pb-md-4">

                                The deposit is collected to give us some security coverage
                                for the products. This amount is
                                completely refundable if the item is returned without any
                                damages physical and functional.

                            </div>

                        </div>
                    </div>

                    <div class="card mb-2 mb-md-3">
                        <a href="#accordion-6" data-toggle="collapse" role="button" aria-expanded="false"
                            class="p-3 p-md-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-2">What if I damage the product?</h6>
                                <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                    class="icon icon-sm" data-inject-svg>
                            </div>
                        </a>
                        <div class="collapse" id="accordion-6" data-parent="#faq-accordion">
                            <div class="px-3 px-md-4 pb-3 pb-md-4">
                                If the damage caused to the product is repairable, then the cost of repair will be
                                charged and deducted from your security deposit. If non repairable, then you will
                                have to pay the full cost of the product.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4 mt-md-5">
            <div class="col-auto">
                <div class="alert bg-light">Still have unanswered questions? <a href="#">Get
                        in touch</a>
                </div>
            </div>
        </div>
    </div>
</section>