.container-1 {
    position: absolute;
    min-width: 100%;
    top: 18rem;
}

.container-sec {
    padding-top: 40rem;
}

@media only screen and (max-width: 600px) {
    .container-1 {
        top: 9rem;
    }
    .container-sec {
        padding-top: 20rem;
    }
}
