<div data-overlay class="bg-primary-3 jarallax text-white">
  <img src="assets/flow-about-us/Shot_1-1.png" alt="Background" class="jarallax-img opacity-50">
  <div class="container container-1 pb-5">
    <div class="row justify-content-center text-center">
      <div>
        <h1 class="display-3">Vision </h1>
        <h1>“BRINGING SPACES IN HARMONY”</h1>
      </div>
    </div>
  </div>
  <section class="pb-0 container-sec">
    <div class="divider divider-bottom bg-white"></div>
  </section>
</div>
<section class="pb-0">
  <div class="container">
    <div class="row section-title justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h3 class="display-4">Philosophy</h3>
        <div class="lead text-justify">
          At Flowlyf we believe that change is the only constant therefor we are always seeking the change always
          working towards becoming a better versions of our selves. And we feel that in this journey everything around
          us should resonate with this drive, especially the spaces that we spend our lives in. And this is what we have
          set out to do we want to Bring Spaces in Harmony!
           <br>
           <br>
          We are reimagining our interactions with spaces and asking questions like why things are the way they are and
          how can we make it more efficient. We are trying to keep it simple by creating solution that bring a feeling
          of lightness and ease, that adapt with us as we learn and grow. That make this journey an effortless one and
          keep us in a state of flow!
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row section-title justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h3>Values</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="10">
        <div style="min-height: 100%;" class="d-flex flex-row align-items-center card card-body shadow-sm bg-white">
          <div class="flex-fill">
            <h5>GRATEFUL</h5>
            <p>
              We believe kindness is humankind’s greatest strength. And we make sure to not just preach, but practice it
              every day, by looking for ways to make the day better for people around us. Be it a smile, an ear, a thank
              you, a helping hand.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="20">
        <div style="min-height: 100%;" class="d-flex flex-row align-items-center card card-body shadow-sm bg-white">
          <div class="flex-fill">
            <h5>TRANSPARENT</h5>
            <p>
              Clear, concise and unpretentious. Everything as is the way it really is. That’s how we like our
              conversations, with our peers, clients and even ourselves. We practice honesty and also take it well.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="30">
        <div style="min-height: 100%;" class="d-flex flex-row align-items-center card card-body shadow-sm bg-white">
          <div class="flex-fill">
            <h5>SEEKERS</h5>
            <p>
              Every individual has the power to make this world a better place, one step at a time. All we need to do is
              seek, with our eyes open to ideas, our ears open to opinions, our minds open to new perspectives and our
              arms open to change. The aim is to keep seeking till we make a difference, big or small, for ourselves and
              the ones around us.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="40">
        <div style="min-height: 100%;" class="d-flex flex-row align-items-center card card-body shadow-sm bg-white">
          <div class="flex-fill">
            <h5>EMPATHETIC</h5>
            <p>
              We feel that no meaningful solution can be made without putting ourselves in the hats of our customer.
              Therefore we very consciously try to empathies and align with the perspective of our customer and create
              with a sense of responsibility and sustainability.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center justify-content-around text-center text-lg-left">
      <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 order-lg-2" data-aos="fade-in">
        <p class="lead">
          <strong>Vaibhav bhalla-</strong> A second time entrepreneur, currently building FlowLyf.com, Prior to this he
          built The
          Founders Cafe a startup innovations hub providing seed capital and mentor Support to early stage startup’s
          which was Acquired in April, 2019. Where he advised IIT- B Entrepreneurship cell and to hon’ble minister Miss
          Nirmala Sitaraman on her startup incubation centre in mangalore. 
        </p>
      </div>
      <div class="col-md-9 col-lg-6 col-xl-5" data-aos="fade-in" data-aos-offset="250">
        <img src="assets/flow-about-us/IMG_2089.jpeg" alt="Image" class="img-fluid rounded shadow">
      </div>
    </div>
  </div>
</section>
<section class="pt-0 o-hidden">
  <div class="container">
    <div class="row align-items-center justify-content-around text-center text-lg-left">
      <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
        <div data-aos="fade-in" data-aos-offset="250">
          <p class="lead">
            <strong>Surabhi Iyer-</strong> Having been a product and lifestyle designer from NIFT,
            Delhi, to the leading Design and Fashion house in India, Sunil Sethi Design Alliance and the Fashion Design
            Council of India, she brings in her 5+ years of experience of working with some of the leading furniture and
            lifestyle brands from all across the world such as Anthropology, crate and barrel and the likes
          </p>
        </div>
      </div>
      <div class="col-md-9 col-lg-6 col-xl-5" data-aos="fade-in" data-aos-offset="250">
        <img src="assets/flow-about-us/image0.jpeg" alt="Image" class="img-fluid rounded shadow">
      </div>
    </div>
  </div>
</section>