<section class="bg-light tab-content pt-5">
    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
        <div class="container">
            <div class="row mb-4 mb-md-5">
                <h3 class="m-a">Checkout Form</h3>
            </div>
            <div class="row mb-4 mb-md-5" *ngIf="!isLoggedIn">
                <a class="btn btn-outline-primary pointer" (click)="signIn()">Have an
                    account or have purchase before? Sign in here</a>
                <!-- <h5 class="m-a pointer" (click)="signIn()">Have an
                    account or have purchase before? Sign in here</h5> -->
            </div>
            <div class="row mb-4 mb-md-5 align-items-start">
                <div class="col-lg-5 order-lg-2 mb-4 mb-lg-0 sticky-lg-top pl-lg-5">
                    <div class="alert alert-primary">Your information is always kept encrypted and can never be accessed
                        by third parties.
                        <a href="#">View our Privacy Policy</a>
                    </div>
                    <app-cart-sidenav [fromCheckout]="true" *ngIf="innerWidth >= 800"></app-cart-sidenav>
                </div>
                <div class="col-lg-7 border-lg-right pr-lg-5">
                    <div class="row mb-lg-2">
                        <div class="col">
                            <h3>What's your contact information?</h3>
                        </div>
                    </div>
                    <form #cForm="ngForm" (ngSubmit)="onFormSubmit(cForm)" ngNativeValidate>
                        <!-- <form #cForm="ngForm" (ngSubmit)="onFormSubmit(cForm)"> -->
                        <div class="row form-row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>Email Address</mat-label>
                                    <input matInput type="email" required maxlength="50" ngModel name="email"
                                        [disabled]="isLoggedIn" [readonly]="isLoggedIn">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 m-a">
                                <div class="form-group">
                                    <small>This will be primary channel of communication,
                                        We’ll email you the invoice and starter kit here
                                        and send news and offers. </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput type="tel" required minlength="10" maxlength="10" ngModel
                                        name="phone" [disabled]="isLoggedIn" [readonly]="isLoggedIn">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 m-a">
                                <div class="form-group">
                                    <small>We will send order and shipping updates to
                                        your mobile phone via SMS or Whatsapp , so
                                        please make sure it’s correct as number you
                                        enter can’t be changed after you place your
                                        order</small>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <small>* This information will be used to create your account</small>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox text-small">
                                        <input type="checkbox" class="custom-control-input" ngModel id="newsletter"
                                            name="newsletter">
                                        <label class="custom-control-label" for="newsletter">Keep me up to date on news
                                            and exclusive offers
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="row mb-lg-2">
                                <div class="col">
                                    <h3>Where should we send your order?</h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>First Name</mat-label>
                                    <input matInput type="text" required maxlength="50" ngModel name="firstName"
                                        autocomplete="off">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput type="text" required maxlength="50" ngModel name="lastName"
                                        autocomplete="off">
                                </mat-form-field>
                            </div>
                            <!-- <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>Company</mat-label>
                                    <input matInput type="text" required maxlength="50" ngModel name="company">
                                </mat-form-field>
                            </div> -->
                            <div class="col-md-12">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>Address</mat-label>
                                    <!-- <input matInput ngx-google-places-autocomplete type="text" required maxlength="100"
                                        ngModel name="addressLineOne"> -->
                                    <input matInput type="text" required maxlength="100" ngModel name="addressLineOne">
                                </mat-form-field>
                            </div>
                            <!-- <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>Address Line 2</mat-label>
                                    <input matInput type="text" required maxlength="100" ngModel name="addressLineTwo">
                                </mat-form-field>
                            </div> -->
                            <div class="col-md-12">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>City</mat-label>
                                    <input matInput type="text" required maxlength="100" ngModel name="city">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>Country</mat-label>
                                    <input matInput type="text" required maxlength="50" ngModel name="country">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>State</mat-label>
                                    <input matInput type="text" required maxlength="100" ngModel name="state">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>PIN code</mat-label>
                                    <input matInput type="text" required maxlength="20" ngModel name="zipcode">
                                </mat-form-field>
                            </div>
                            <!-- <div class="col-md-12">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>Phone</mat-label>
                                    <input matInput type="text" required maxlength="20" ngModel name="phone">
                                    <mat-icon matSuffix>help</mat-icon>
                                </mat-form-field>
                            </div> -->
                            <div class="col-md-12 form-group">
                                <a class="btn btn-outline-primary pointer" (click)="openGSTDialog()">Have GST
                                    registration ?</a>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox text-small">
                                        <input type="checkbox" class="custom-control-input" ngModel
                                            id="shipToDifferentAddress" name="shipToDifferentAddress">
                                        <label class="custom-control-label" for="shipToDifferentAddress">Ship to
                                            different address
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-row" *ngIf="cForm.value.shipToDifferentAddress">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" maxlength="50" ngModel name="shippingEmail">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>Phone</mat-label>
                                    <input matInput type="tel" required minlength="10" maxlength="10" ngModel
                                        name="shippingPhone">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>First Name</mat-label>
                                    <input matInput type="text" required maxlength="50" ngModel
                                        name="shippingFirstName">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput type="text" required maxlength="50" ngModel name="shippingLastName">
                                </mat-form-field>
                            </div>
                            <!-- <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>Company</mat-label>
                                    <input matInput type="text" maxlength="50" ngModel name="shippingCompany">
                                </mat-form-field>
                            </div> -->
                            <div class="col-md-12">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>Address</mat-label>
                                    <input matInput type="text" required maxlength="100" ngModel
                                        name="shippinAddressLineOne">
                                </mat-form-field>
                            </div>
                            <!-- <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>Address Line 2</mat-label>
                                    <input matInput type="text" maxlength="100" ngModel name="shippingAddressLineTwo">
                                </mat-form-field>
                            </div> -->
                            <div class="col-md-12">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>City</mat-label>
                                    <input matInput type="text" required maxlength="100" ngModel name="shippingCity">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>Country</mat-label>
                                    <input matInput type="text" maxlength="50" ngModel name="shippingCountry">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>State</mat-label>
                                    <input matInput type="text" required maxlength="100" ngModel name="shippingState">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>PIN code</mat-label>
                                    <input matInput type="text" required maxlength="20" ngModel name="shippingZipcode">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-12">
                                <mat-form-field appearance="outline" class="w-100 mt-2">
                                    <mat-label>Any Comment</mat-label>
                                    <input matInput type="textarea" maxlength="200" ngModel name="comment">
                                </mat-form-field>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>