<div class="row justify-content-center">
    <div class="col-xl-4 col-lg-5 col-md-6">
        <mat-card class="m-5">
            <h1 class="h5 text-center">Sign In</h1>
            <form [formGroup]="loginForm" novalidate>
                <mat-form-field appearance="outline" class="w-100 mt-2"
                    [ngClass]="{'validationcolor': (loginForm.controls.email.hasError('required') && submitted)}">
                    <input matInput type="email" placeholder="Email" formControlName="email">
                    <mat-error *ngIf="loginForm.controls['email'].hasError('invalidEmail') && submitted">
                        Invalid email address
                    </mat-error>
                </mat-form-field>
                <div class="text-center">Or</div>
                <mat-form-field appearance="outline" class="w-100 mt-2"
                    [ngClass]="{'validationcolor': (loginForm.controls.phone.hasError('required') && submitted)}">
                    <input matInput type="tel" placeholder="Phone" formControlName="phone">
                    <mat-error *ngIf="loginForm.controls['phone'].hasError('invalidPhone') && submitted">
                        Invalid phone address
                    </mat-error>
                </mat-form-field>
                <div class="text-center mt-2">
                    <!-- <button mat-fab color="primary" class="mat-elevation-z6"
                        (click)="onLoginFormSubmit(loginForm.value)">
                        <i *ngIf="submitted" class="fa fa-spinner fa-spin" style="font-size:24px"></i>

                        <mat-icon>exit_to_app</mat-icon>
                    </button> -->
                    <button class="btn btn-primary btn-block" (click)="onLoginFormSubmit(loginForm.value)">
                        Generate OTP
                    </button>
                </div>
            </form>
        </mat-card>
    </div>
</div>