<div class="row justify-content-center">
    <div class="col-xl-4 col-lg-5 col-md-6">
        <mat-card class="m-5">
            <!--<div fxFlex="100"  class="p-2">-->
            <h2 class="text-muted text-center">Sign In</h2>
            <form [formGroup]="loginForm" novalidate>
                <mat-form-field class="w-100 mt-2" [ngClass]="{'validationcolor':
        (loginForm.controls.email.hasError('required') && submitted)}">
                    <input matInput type="email" placeholder="Email" formControlName="email">
                    <!-- <mat-error *ngIf="loginForm.controls['email'].hasError('required') && submitted">
            Email is required
        </mat-error> -->
                    <mat-error *ngIf="loginForm.controls['email'].hasError('invalidEmail') && submitted">
                        Invalid email address
                    </mat-error>
                </mat-form-field>
                <div class="text-center">Or</div>
                <mat-form-field class="w-100 mt-2" [ngClass]="{'validationcolor':
        (loginForm.controls.phone.hasError('required') && submitted)}">
                    <input matInput type="tel" placeholder="Phone" formControlName="phone">
                    <!-- <mat-error *ngIf="loginForm.controls['phone'].hasError('required') && submitted">
            Phone is required
        </mat-error> -->
                    <mat-error *ngIf="loginForm.controls['phone'].hasError('invalidPhone') && submitted">
                        Invalid phone address
                    </mat-error>
                </mat-form-field>
                <!-- <mat-form-field class="w-100 mt-1" [ngClass]="{'validationcolor':
        (loginForm.controls.password.hasError('required') && submitted)}">
        <input matInput placeholder="Password" formControlName="password" type="password">
        <mat-error *ngIf="loginForm.controls['password'].hasError('required') && submitted">
            Password is required
        </mat-error>
        <mat-error *ngIf="loginForm.controls['password'].hasError('minlength') && submitted">
            Password isn't long enough, minimum of 5 characters
        </mat-error>
    </mat-form-field> -->
                <div class="text-center mt-2">
                    <button mat-fab color="primary" class="mat-elevation-z6"
                        (click)="onLoginFormSubmit(loginForm.value)">
                        <i *ngIf="submitted" class="fa fa-spinner fa-spin" style="font-size:24px"></i>

                        <mat-icon>exit_to_app</mat-icon>
                        <!-- <mat-icon *ngIf="!submitted">exit_to_app</mat-icon> -->
                    </button>
                </div>
                <!-- <div fxLayout="row" fxLayoutAlign="center" class="mt-2">
        <h5 class="text-muted auth forgot" routerLink="/auth/forgot">
            Forgot Password?</h5>
    </div> -->

            </form>
        </mat-card>
    </div>
</div>